.main {
  margin: 2rem;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 200px;
}

.console {
  border-top: 1px solid;
  overflow: hidden;
}

.console .input {
  color: #1f5492;
}

.console .response {
  margin: 1rem 0 1rem;
}

.inputField {
  display: flex;
}

.inputField div {
  width: fit-content;
  margin-right: 9px;
  color: rgb(209, 14, 95);
}

input {
  border: none;
  outline: none;
}
